META_ACCESS_TOKEN=
NEXT_PUBLIC_META_PIXEL_ID=
META_PIXEL_ID=

AMOCRM_DOMAIN=

AMOCRM_ACCESS_TOKEN=

AMOCRM_PIPELINE_ID=
AMOCRM_STATUS_ID=
AMOCRM_SOLD_STATUS_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
AMOCRM_FIELD_FBP=
AMOCRM_FIELD_FBC=
AMOCRM_WEBHOOK_SECRET=



